{{!< default}}

{{> "site-header"}}

<!-- Error Section -->
<section class="section-dark" id="error">
	<div class="container-large text-center">
		<div class="row">
			<h1>{{code}}</h1>
			<p>{{message}}</p>
			<a class="button" href="{{@blog.url}}">{{t "Go to the main page"}}</a>
		</div>
	</div>
</section>
